body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:white;
}
* {
    box-sizing: border-box;
}

.container {
    align-items: center;
    margin: 3% auto;
    padding: 4%;
    border: 1px solid rgba(80, 109, 134, 0.33);
    border-radius: 4px;
    background-color: aliceblue;
    border: 2px solid rgba(19, 36, 100, 0.777);
}
h1{
    color: rgba(29, 22, 22, 0.777);
    display:block;
    font-weight: 100;
    text-align: left;
    font-size: 2rem;
}
ul {
    margin-left: 0;
    padding-left: 0;
}
li {
    color:rgba(19, 35, 99, 0.777);
    display:block;
    font-size: 1.2rem;
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: capitalize;

}
.location {
    margin-bottom: 5%;
}

.weather-temp img {
    margin-right: 3%;
    float: left;
    height: 20%;
    width: 20%;
}
.temperature {
    float: left;
    color:rgba(19, 36, 100, 0.777);
    font-size: 1.5rem;
}
.temperature small {
    position:relative;
    top: -3px;
}
#form {
    padding-bottom: 2%;
}
.weather-temp .active {
    color:black; 
    cursor: default;
}
.weather-temp .active:hover {
    text-decoration: none;
}
#search {
    margin-right: 10%;
}
input[type=search] {
    border: 2px solid rgba(19, 36, 100, 0.777);
    border-radius: 4px;
    background-color: white ;
    padding: 2rem;
    float: left;
    margin-bottom: 10%;
  }
  input[type=submit] {
    border: 2px solid rgba(19, 36, 100, 0.777);
    border-radius: 4px;
    background-color: white;
    float: right;
  }
  @media screen and (max-width: 600px) {
    .container {
    width: 85%;
    margin-top: 0; } }

@media screen and (max-width: 600px) {
    #form input[type=submit] {
    width: 100%;
    margin-top: 0; } }

@media screen and (max-width: 600px) {
    #form input[type=search] {
    width: 75%;
    margin: 0; } }

@media screen and (max-width: 600px) {
        #search {
        width: 95%;
        margin: 0; } }