body {
    font-family: Arial, Helvetica, sans-serif;
}

.updated-weather-app {
    max-width: 700px;
    margin: 40px auto;
    padding: 30px;
    border: 1px solid rgb(80, 109, 134);
    border-radius: 4px;
}
h1{
    color: rgba(128, 128, 128, 0.777);
    display:block;
    font-weight: 100;
    text-align: left;
    font-size: 28px;
}
ul {
    margin-left: 0;
    padding-left: 0;
}
li {
    color:rgba(43, 55, 102, 0.777);
    display:block;
    font-size: 16px;
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;

}
.location {
    margin-bottom: 25px;
}

.weather-temp img {
    margin-right:10px;
    float: left;
    height: 80px;
    width: 80px;
}
.temperature {
    float: left;
    color:rgba(43, 55, 102, 0.777);
    font-size: 24px;
}
.temperature small {
    position:relative;
    top: -3px;
}